html {
  height: 100%;
}

#loginBody {
}

#loginDiv {
  position: absolute;
  top: 20%;
  left: 35%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
}

#loginDiv h1 {
  color: rgb(0, 102, 255);
  font-size: 40px;
}

#loginDiv label {
  font-size: 26px;
}

#loginDiv input {
  font-size: 20px;
  border-radius: 5px;
  padding: 4px;
  margin: 10px;
}

#noAccount {
  font-size: 24px;
}

#noAccount a {
  color: rgb(0, 102, 255);
}

#loginDiv input[type="submit"] {
  background-color: rgb(0, 102, 255);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 24px;
  cursor: pointer;
}
